$main-color: #333d4b;
$secondary-color: #fefcf7;
$thirdly-color: #83888f;
$main-font-weight: 900;
$secondary-font-weight: 700;
$thirdly-font-weight: 400;
$main-font-family: "Fraunces", "Georgia", serif;
$secondary-font-family: "Barlow", "Arial", sans-serif;
